// Corporate Colors
$ubsred: #E60000;
$white: #ffffff;
$black: #000000;

// Secondary colors (preferred)
$chocolate: #585148;
$clay: #807266;
$mouse: #BBB3AC;
$sand: #B89D83;
$caramel: #D7C2AA;
$ginger: #EBDECD;
$carbon: #646464;
$smoke: #919191;
$stone: #BEBEBE;
$chestnut: #9A3D37;
$terracotta: #A36650;
$cinnamon: #D4AD9C;
$curry: #DBAA35;
$honey: #E8C880;
$straw: #F1E4BA;

// Secondary colors (special cases)
$plum: #5A6F89;
$lilac: #879AB5;
$lavender: #BDC6D4;
$olive: #6A7D39;
$fern: #B4B77B;
$lemongrass: #DEDFB3;
$pine: #3B8085;
$mint: #94B9B6;
$sage: #C6D9CE;
$atlantic: #427C99;
$lake: #92B8D6;
$glacier: #BFD6EB;